<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<div class="container">
		<h2>Feedbacks</h2>
		<table class="table table-bordered table-stripped mb-5" th:with="i=68">
			<thead class="thead-dark">
				<tr>
					<th>S.N</th>
					<th>Customer Email</th>
					<th>Customer Name</th>
					<th>Title</th>
					<th>Feedback</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!--  value is for printing the sn numbers  -->
				<tr th:each="tempFeedback,value:${feedback}">
					<td th:text="${value.index+1}" />
					<td th:text="${tempFeedback.customerEmail}" />
					<td th:text="${tempFeedback.customerName}" />
					<td th:text="${tempFeedback.title}" />
					<td th:text="${tempFeedback.feedback}" />

					<!--  for deleting  -->
					<!-- if not inside any other folder inside templates then just mapping should same method mapping -->
					<td><a th:href="@{'delete/' + ${tempFeedback.id}}"
						class="btn btn-danger btn-sm mb-2">Delete</a>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>