<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"  href="/css/tables.css">
<link rel="stylesheet" type="text/css" href="/css/toogleButton.css">
</head>
<body>
<!-- importing the header and side menu form another file called common.html -->
	<div th:replace="common :: import-css"></div>
	<div th:replace="common :: top-nav"></div>
	<div th:replace="common :: side-nav"></div>
	
	<div id="main-body" class="body-wrapper">
	
	<div class="heading">
		<header>Product Management</header>
	</div>

		<!-- Button to add new Category  -->
		<div class="create-button">
		<a th:href="@{/products/showProductForm}">Add new Product</a>
		</div>
			
		<!-- for the search functionality  -->	
		<form action="#" th:action="@{/products/search}" th:object="${products}" method="get" class ="search-form">
			<input type="text" th:value="${search}" name="search" placeholder="search">
			
			<button type="submit">Search</button>		
		</form>
		

		<!-- A table to show list of category  -->
		<div class="show-tables">
		<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Name</th>
					<th>Image</th>
					<th>Price</th>
					<th>Specs</th>
					<th>Category</th>
					<th>Available</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="tempproducts,value:${products}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${tempproducts.productName}" />
					<td><img th:src="@{${tempproducts.imagePath}}" alt="image"
						border=3 height=100 width=100 /></td>
					<td th:text="${tempproducts.price}" />
					<td th:text="${tempproducts.specs}" />
					<td th:each="category: ${tempproducts.categories}"
						th:text="${category.categoryName}" />

					<!-- for checking availability  -->
					<td><label class="switch"> <input type="checkbox"
							onclick="return false;" th:checked="${tempproducts.available}">
							<span class="slider round"></span>
					</label></td>

					<!--  for deleting  -->
					<td><a th:href="@{'/products/delete/' + ${tempproducts.id}}"
						class="delete-button">Delete</a> <!--For updating  -->
						<a th:href="@{'/products/showUpdateForm/'+${tempproducts.id}}"
						th:name="productId" class="update-button">Update </a></td>

				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
<!-- importing the script file  -->	
	<div th:replace="common:: script-files"></div>
</body>

</html>