<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/form.css">

<!--for the body-wrapper,button  and header class -->
<link rel="stylesheet" href="/css/tables.css"> 
<link rel="stylesheet" type="text/css" href="/css/errors.css">
</head>
<body>
	<!-- importing the header and side menu form another file called common.html -->
	<div th:replace="common :: import-css"></div>
	<div th:replace="common :: top-nav"></div>
	<div th:replace="common :: side-nav"></div>



	<div  id ="main-body" class="body-wrapper">
	<div class="heading">
		<header>Create new Category</header>
	</div>
		<!--  Form to add new category -->
		
		<form action="#" th:action="@{/categories/insert}" class="form-wrapper"
			th:object="${category}" method="POST" enctype="multipart/form-data">

			<!-- this is for the update so that the categories id will be sent along the form  -->
			<input type="hidden" th:field="*{id}"> 
			
			
			<!-- for name -->
			<span th:if="${#fields.hasErrors('categoryName')}"
				th:errors="*{categoryName}" class="error">Name error</span>
			
		    <input type="text" th:field="*{categoryName}"
				 placeholder="Category Name">

			<!-- for category code  -->
			<span th:if="${#fields.hasErrors('categoryCode')}"
				th:errors="*{categoryCode}" class="error">Code error</span> 
			
			<input type="text" th:field="*{categoryCode}"
				placeholder="Category Code">
				
			<span th:if="${#fields.hasErrors('imagePath')}"
				th:errors="*{imagePath}" class="error">File error</span>
					
			<div onchange="loadFile(event)" class="file-upload">
				<input   type="file" accept="image/*"  name="file" />
				<!-- imageClass is inside error.css -->
				<img class="imageClass" id="demoImage"  th:src="${imageUrl}" />
			</div>	
			<button type="submit" class="add-button">Add</button>
		</form>

		<div class="back-link">
		<a th:href="@{/categories/list}">Go back to list</a>
		</div>
	</div>


<script type="text/javascript" src="/scripts/uploadImage.js"></script>
<!-- importing the script file  -->	
	<div th:replace="common:: script-files"></div>
</body>




</html>