<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/css/tables.css">

</head>
<body>

	<!-- importing the header and side menu form another file called common.html -->
	<div th:replace="common :: import-css"></div>
	<div th:replace="common :: top-nav"></div>
	<div th:replace="common :: side-nav"></div>
	<!-- importing the script file  -->	
	<div th:replace="common:: script-files"></div>
	

	<div  id ="main-body" class="body-wrapper">
		<div class="heading">
		<header>Categories</header>
		</div>
		
		<div class="create-button">
		<a th:href="@{/categories/addCategoryForm}">Create New</a>
		</div>
			
		<!-- A table to show list of category  -->
		<div class="show-tables">
		<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Category</th>
					<th>Image</th>
					<th>Code</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="tempcategory,value:${categories}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${tempcategory.categoryName}" />
					<td><img th:src="@{${tempcategory.imagePath}}" alt="image"
						border=0 height=80 width=80 /></td>
					<td th:text="${tempcategory.categoryCode}" />

					<!--  for deleting  -->
					<td><a th:href="@{'/categories/delete/' + ${tempcategory.id}}"
						class="delete-button">Delete</a> <!--For updating  -->
						<a th:href="@{'/categories/showUpdateFrom/'+${tempcategory.id}}"
						th:name="categoryId" class="update-button">Update </a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
<!-- importing the script file  -->	
	<div th:replace="common:: script-files"></div>
</body>

</html>