<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<div class="container">
		<h2>Category Management</h2>

		<!-- Button to add new Category  -->
		<a th:href="@{/categories/addCategoryForm}"
			class="btn btn-primary btn-sm mb-3">Create New</a>

		<!-- A table to show list of category  -->
		<table class="table table-bordered table-stripped mb-5">
			<thead class="thead-dark">
				<tr>
					<th>S.N</th>
					<th>Category</th>
					<th>Image</th>
					<th>Code</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="tempcategory,value:${categories}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${tempcategory.categoryName}" />
					<td><img th:src="@{${tempcategory.imagePath}}" alt="image"
						border=0 height=80 width=80 /></td>
					<td th:text="${tempcategory.categoryCode}" />

					<!--  for deleting  -->
					<td><a th:href="@{'/categories/delete/' + ${tempcategory.id}}"
						class="btn btn-danger btn-sm mb-2">Delete</a> <!--For updating  -->
						<a th:href="@{'/categories/showUpdateFrom/'+${tempcategory.id}}"
						th:name="categoryId" class="btn btn-info btn-sm mb-2">Update </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>