/* this means the all the emlements inside body will start from 0 margin*/
body{
	margin:0;
	padding:0;
	font-family: Segoe UI, Serif;
	color:#ffffff;
	/*background-image: linear-gradient(to left,#8EC5FC 0%,#E0C3FC 100%);*/
	background:#ddd;
}


/* for the emelents before the seperator*/
.header-container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	white-space: nowrap;
}

.header{
	color: #ffffff;
	padding: 2px;
	font-size: 25pt;
	display:inline;
}

.menu-button{
	align-self:center;
	padding-right:5px;
	transition:0.3s;
	cursor: pointer;
}



.seperator{
	width:100%;
	border:none;
	height:3px;
	color:#ffffff;
	background-color:#ffffff;
	
}



/* Stlyes for side-bar
	.side-container holds all the elements inside of side bar
*/
.side-container{
	display:block;
	position:fixed;
	background:#000000;
	opacity:0.8;
	width:0px;
	z-index:1;
	height:100%;
	top:0;
	left:0;
	overflow-x:hidden;
	transition:0.5s;
	transition-delay:0.2s;
	white-space: nowrap;
}

.side-bar ul{
	transition:0.5s;
	font-size: 17pt;
	color:#ffffff;
}

.side-bar li{
	display:flex;
	flex-direction: row;
	align-items: center;
	list-style:none;
	margin-bottom: 30px;
}

.side-bar li a{
	padding-left:10px;
	text-decoration: none;
	color: #ffffff;
}

.side-bar li a:hover{
	color:#764ba2;	
}



/* for the navigation bar that is on the top of the screen*/
/* for the navigation bar that is on the top of the screen*/
.nav-bar{
	display:flex;
	justify-content:space-between;
	align-items: center;
	height:50px;
	flex-direction:row;
	background:#ffffff;
	color:#00000;
	transition:0.8s;
	transition-delay:0.3s;
	
}

/*the button that opens the sidebar menu*/
.main_menu_button{
	display:block;
	float:left;
	padding-left: 10px;
	transition:0.3s;
	cursor: pointer;
}




/* for displaying a circular image */
.profile-image{
	border-radius: 50%;
	height:50px;
	width:50px;
	min-height:50px;
	min-width:50px;
	overflow:hidden;
	transform: rotate(90deg);
}

/* for displaying a circular image */
.profile-image img{
	height:100%;
	width:auto; 
}

.user-display{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	color: #000000;
	align-items:center;
}

.user-name{
	color:#000000;
	margin-left:25px;
	font-size: 12pt;
	margin-right:25px;
}

.more-options{
	margin-right:15px;
	
}