.body-wrapper{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:#000000;
	transition: 0.8s;
	transition-delay: 0.2s;
}

.heading{
	margin-top: 80px;
	width:80%;
	text-align: left;
	font-size: 30pt;
	font-family: arial;
	font-weight: bold;
}

.show-tables{
	display:flex;
	margin: 60px;
	width:100%;
	align-items:center;
	justify-content: center;
}
.show-tables table{
	border-collapse: collapse;
	text-align: center;
	background-color: #eeeeee;
	width:80%;
	
}

.show-tables thead {
	background-color: #212121;
	color: #efefef;
	height: 7vh;
	font-size: 20;
}

.show-tables tbody{
	color: #000000;
	
}

.show-tables table  td{
	height: auto;
	outline: thin solid;
	outline-color: #fafafa;
	height: 6vh;
	max-width: 300px;
	overflow:hidden;
}

.delete-button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90px;
	display:block;
	border:none;
	background-color:#e53935;
	text-decoration: none;
	text-align:center;
	color: #ffffff;
	height: 4vh;
	border-radius: 8px;
}

.update-button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 90px;
	display:block;
	border:none;
	background-color:#29b6f6;
	text-decoration: none;
	color: #ffffff;
	height: 4vh;
	text-align:center;
	border-radius: 8px;
}

.create-button{
	margin-top: 50px;
	margin-bottom: -50px;
	display:flex;
	height: 5vh;
	width:80%;
}

.create-button a{
	text-decoration:none;
	color: #ffffff;
	background-color: #4caf50;
	border-radius: 5px;
	width:200px;
	text-align: center;
	font-size: 25px;
}

.search-form{
	display:flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top:70px;
	width:80%;
	align-self: center;
	margin-bottom: -50px;
}

.search-form input {
	border:none;
	border-raduis: 5px;
	height: 4vh;
}

.search-form button {
	color:#ffffff;
	background: #212121;
	border:none;
	border-raduis: 5px;
	height: 4vh;
}