<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>

<!-- importing the css file from the common.html -->
<link rel="stylesheet" type="text/css" href="/css/mainBody.css"/>
<link rel="stylesheet" type="text/css" href="/css/toogleButton.css"/>
</head>

<body>
	<!-- importing the header and side menu form another file called common.html -->
	<div th:replace="common :: import-css"></div>
	<div th:replace="common :: top-nav"></div>
	<div th:replace="common :: side-nav"></div>
	
	<!-- for the body part -->
	<main id="main-body">
	<!-- hold those colorful boxes of the dashboard -->
	<div  class="container">
		<div class="customer-count">
			<h3 >Total customers:</h3>
			<div class="show-count"> 
			<img src="/images/dashboard/customerIcon.svg">
			<span th:text="${totalCustomers}"></span>
			</div>
		</div>
		<div class="product-count">
			<h3>Total Products:</h3>
			<div class="show-count"> 
			<img src="/images/dashboard/products_icon.svg">
			<span th:text="${totalProducts}"></span>
			</div>
		</div>
			
		<div class="total-orders">
			<h3>Total Orders:</h3>
			<div class="show-count"> 
			<img src="/images/dashboard/order_icon.svg">
			<span th:text="${totalOrders}"></span>
			</div>
		</div>	
		
		<div class="total-sales">
			<h3>Total items sold:</h3>
			<div class="show-count"> 
			<img src="/images/dashboard/sales_icon.svg">
			<span th:text="${totalProducts}"></span>
			</div>
		</div>	
	</div>
	
	<div id="pages" class="listings">
	
		<div id="customers" class="pages">
			<header>Customers</header>
			<div class="tables">
				<table>
					<thead>
						<tr>
							<th>S.N</th>
							<th>Name</th>
							<th>Number</th>
							<th>Email</th>
						</tr>
					</thead>
				<tbody>
				<!--  value is for printing the sn numbers  -->
				<tr th:each="tempcustomer,value:${customerList}">
					<td th:text="${value.index+1}" />
					<td th:text="${tempcustomer.firstName}" />
					<td th:text="${tempcustomer.contactNumber}">
					<td th:text="${tempcustomer.email}" />
				</tr>
			</tbody>
		</table>
		</div>
			<a href="/customer/listAll" target="_blank">Go the Customer Management
			<svg xmlns="http://www.w3.org/2000/svg" 
			width="35" height="30" 
			viewBox="0 0 48 48">
			<path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z"/></svg>
			</a>		
		</div>
		
		<div id="categories" class="pages">
			<header>Categories</header>
		<div class="tables">
			<table>
				<thead>
						<tr>
						<th>S.N</th>
						<th>Category</th>
						<th>Image</th>
						<th>Code</th>
					</tr>
				</thead>
				<tbody>
					<!-- value is for printing the s.n number -->
					<tr th:each="tempcategory,value:${categoryList}">
						<td th:text="${value.index+1}"></td>
						<td th:text="${tempcategory.categoryName}" />
						<td><img th:src="@{${tempcategory.imagePath}}" alt="image"
							border=0 height=30 width=30 /></td>
						<td th:text="${tempcategory.categoryCode}" />
					</tr>
				</tbody>
			</table>
			</div>
				<a href="/categories/list" target="_blank">Go the Categories Management
			<svg xmlns="http://www.w3.org/2000/svg" 
			width="35" height="30" 
			viewBox="0 0 48 48">
			<path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z"/></svg>
			</a>		
		</div>
		
		<div id="products" class="pages">
			<header>Products</header>
		<div class="tables">
			<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Name</th>
					<th>Image</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="tempproducts,value:${productList}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${tempproducts.productName}" />
					<td><img th:src="@{${tempproducts.imagePath}}" alt="image"
						border=3 height=30 width=30 /></td>
					<td th:each="category: ${tempproducts.categories}"
						th:text="${category.categoryName}" />
				</tr>
			</tbody>
		</table>
		</div>
			<a href="/products/list" target="_blank">Go the Product Management
			<svg xmlns="http://www.w3.org/2000/svg" 
			width="35" height="30" 
			viewBox="0 0 48 48">
			<path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z"/></svg>
			</a>		
		</div>
		
		<div id="orders" class="pages">
			<header> Purchase Orders</header>
			<div class="tables">
			<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Customer Name</th>
					<th>Product Name</th>
					<th>Ordered On</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="temporders,value:${orderList}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${temporders.contactName}"/>
					<td th:text="${temporders.productName}" />
					<td th:text="${temporders.purchaseDate}"/>
				</tr>
			</tbody>
		</table>
		</div>
			<a href="/orders/listAll" target="_blank">Go the Order Management
			<svg xmlns="http://www.w3.org/2000/svg" 
			width="35" height="30" 
			viewBox="0 0 48 48">
			<path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z"/></svg>
			</a>	
		</div>
		
		<div id="feedbacks" class="pages">
			<header>Showing the list of feedbacks </header>
		
		<div class="tables">
			<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Customer Name</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<!-- value is for printing the s.n number -->
				<tr th:each="tempfeedback,value:${feedbackList}">
					<td th:text="${value.index+1}"></td>
					<td th:text="${tempfeedback.customerName}"/>
					<td th:text="${tempfeedback.title}" />
				</tr>
			</tbody>
		</table>
		</div>
			<a href="/feedbacks/listAll" targer="_blank">Go the Feedback Management
			<svg xmlns="http://www.w3.org/2000/svg" 
			width="35" height="30" 
			viewBox="0 0 48 48">
			<path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z"/></svg>
			</a>	
		</div>
		
	</div>
	
	
	
	
	</main>
	
<div th:replace="common:: script-files"></div>

</body>
</html>
