<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Admin login</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="/css/login.css" >

</head>

<body>
	<div class="card-container" >
		<header class="login-title">Admin login</header>
		
		<!--  Form to add new category -->
		
		<form  th:action="@{/showDashboard}"
			th:object="${login}" method="POST" 
			class="form-box">
			
			<span th:if="${#fields.hasErrors('adminName')}"
				th:errors="*{adminName}" class="error">Name error</span>
			
				<input type="text" th:field="*{adminName}"
				class="text-input" placeholder="Username">

			
				<input type="password" th:field="*{password}"
				class="text-input" placeholder="Password"> 
			
			
				<button type="submit" class="login-button">Login</button>
		</form>
	</div>
</body>
</html>