<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Admin login</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>

<body>
	<div class="container mt-4" >
		<h3 align="center">Admin login</h3>
		
		<!--  Form to add new category -->
		
		<form action="#" th:action="@{/verifyLogin}"
			th:object="${login}" method="POST" >
			
			<div align="center">
				<input type="text" th:field="*{adminName}"
				class="form-control mb-4 col-4" placeholder="Username">

			
				<input type="password" th:field="*{password}"
				class="form-control mb-4 col-4" placeholder="Password"> 
			
				<button type="submit" class="btn btn-info col-2">Login</button>
			</div>
		</form>
	</div>
</body>
</html>