<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/css/tables.css">
</head>
<body>


<!-- importing the header and side menu form another file called common.html -->
	<div th:replace="common :: import-css"></div>
	<div th:replace="common :: top-nav"></div>
	<div th:replace="common :: side-nav"></div>
	
<div id="main-body" class="body-wrapper">
	
	<div class="heading">
		<header>Customer List</header>
	</div>

	<div class="show-tables">
		<table  th:with="i=68">
			<thead>
				<tr>
					<th>S.N</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Contact Number</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!--  value is for printing the sn numbers  -->
				<tr th:each="tempcustomer,value:${customers}">
					<td th:text="${value.index+1}" />
					<td th:text="${tempcustomer.firstName}" />
					<td th:text="${tempcustomer.lastName}" />
					<td th:text="${tempcustomer.contactNumber}">
					<td th:text="${tempcustomer.email}" />

					<!--  for deleting  -->
					<!-- if not inside any other folder inside templates then just mapping should same method mapping -->
					<td><a 
					class="delete-button" th:href="@{'delete/' + ${tempcustomer.id}}">Delete</a>
				</tr>
			</tbody>
		</table>
	</div>
	</div>

	<!-- importing the script file  -->	
	<div th:replace="common:: script-files"></div>
	
</body>
</html>